body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    text-align: center;
    height: 150px;
}
footer{
    background-color: aqua;
}
td{
    text-align: left;
}
h1{
    text-align: center;
}
#primer-título{
    text-align: center;
}
#segundo-título{
    display: block;
}
#primer-imagen{
    text-align: left;
}
#segunda-imagen{
    text-align: left;
}
.conteiner{
    justify-content: flex-end;
}